<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<p style="margin:100px;">
    <h1> 안녕하세요.</h1>
    <h1> 급여 명세 플랫폼 우리의 급여 입니다.</h1>
    <br> <p style="display:inline" th:text="${year}"> </p>년 <p style="display:inline" th:text="${month}"> </p>월 급여 명세서가 발급되었습니다.
    <br> 홈페이지에 접속하여 확인할 수 있습니다.
    <p> </p>
    <br>

<!--    <div align="center" style="border:1px solid black; font-family:verdana;">-->
<!--        <h3 style="color:blue"> 급여명세입니다 </h3>-->
<!--        <div style="font-size:130%" th:text="${code}"> </div>-->
<!--    </div>-->
    <br/>
</div>

</body>
</html>